---
import { Icon } from 'astro-icon/components';

const { type = "text", name, placeholder, label, iconName, required = false, id } = Astro.props;
---

<div class="form-control w-full">
  <label class="label pt-0 pb-1">
    <span class="label-text text-gray-700 text-xs font-bold uppercase tracking-wide">{label}</span>
  </label>
  
  <div class="relative">
    {iconName && (
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none z-10">
        <Icon name={iconName} class="w-5 h-5 text-gray-500" />
      </div>
    )}
    
    <input 
      type={type} 
      name={name} 
      id={id}
      class:list={[
        "input input-bordered w-full text-sm", // Base DaisyUI
        "bg-white text-gray-900",              // Warna dasar
        "border-2 border-gray-300",            // PAKSA BORDER: border-2 (tebal) dan warna abu
        "focus:border-primary focus:ring-primary", // Warna saat diklik
        iconName ? 'pl-10' : ''                // Padding jika ada icon
      ]}
      placeholder={placeholder} 
      required={required} 
    />
  </div>
</div>